main {
  padding: 8em 2em 0;
}

.cart-container {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #ccc;
  padding: 20px;
  width: fit-content;
  margin: 20px;
  transition: .5s;
}

.cart-container.hidden {
  position: absolute;
  bottom: -20rem;
  right: 0;
}

.search-container {
  width: calc(100vw - 2em);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  & h1 {
    /* margin-inline: auto; */
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 3s steps(45) forwards,
    blink 1s infinite; 
  }

  & div {

    border: solid .3rem black;
    border-radius: .5rem;
    padding: .4rem;

    & input {
      width: 55vw;
      padding: 1rem 1rem;
      font-size: 1.3rem;
      border: none;

      &:focus {
        outline: none;
      }
    }

    & button {
      font-size: 1.2rem;
      border-radius: .5rem;
      padding: 1rem;
      border: none;
      background-color: var(--domijn-black);
      & i {
        color: var(--domijn-white);
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 31%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }

}